body, html {
    margin: auto;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 -10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: float 3s infinite ease-in-out;


}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.form button:hover {
    background: rgb(47, 255, 64);
}
.divInput{
    display: flex;
    flex-direction: column;
    

}
.divInput input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #8f8f8f;
    border-radius: 5px;
}
.divInput label {
    margin-left: -120px;
}
h1, h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

canvas {
    display: block;
    margin: auto;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

img {
    border-radius: 100%;
    margin-right: 10px;
}
button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.modal {
    text-align: center;
}